* {padding: 0; margin: 0;}

.flex-container  {
  display: flex;
  justify-content: space-between;
  align-items: center;
      background: red;
}

.logo {
  margin: 0 0 0 .45em;
}
    .logo a {
      color: rgb(28, 24, 22);
    }

    .logo, .navigation {
        list-style: none;
        text-transform: uppercase;
    }

    .logo a, .navigation a {
        text-decoration: none;
        letter-spacing: .45rem;
    }

.navigation  {
  display: flex;
}

.navigation a {
  display: block;
  padding: 1em;
  color: white;
}

.navigation a:hover {
    background: #00ace6;
}

/* *********** media queries *********** */
@media all and (max-width: 990px) {
  .flex-container {
    flex-direction: column;
  }
  
  .logo {
  margin: 0;
}
  
  .navigation  {
    width: 100%;
    justify-content: space-around;
  }
}


/* ****** ****** */
@media all and (max-width: 600px) {
 
  .logo {
    margin: .25em 0;
    align-self: left; /* align the logo to the left side of 'flex-container' */
}
  
  .navigation {
    flex-direction: column;
  }
  
  .navigation a { 
    text-align: center; 
    padding: 10px;1
    border-top: 1px solid rgba(255,255,255,0.3); 
    border-bottom: 1px solid rgba(0,0,0,0.1); 
  }
  
  .navigation li:last-of-type a {
    border-bottom: none;
  }
}

 
#Dog{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
  }
  
  .footer{
    display:flex;
    padding:50px;
    align-items:center;
    background-color:crimson;
    justify-content:space-evenly;
    color:white;
    cursor:pointer;
    position: fixed;
    bottom: 0;
    height: 150PX;
    width: 1400px;
  }

  .footer1{
    color: black;
  }
    
  .footer3{
    margin-top:30px
  }
  
  .footer2 ul{
    list-style:none;
    padding-top:20px
  }
  .footer2 ul li{
    line-height:30px
  }
  .footer3 ul{
    list-style:none;
    padding-top:20px
  }
  .footer3 ul li{
    line-height:30px;
  }
  .footer2 ul li a{
    text-decoration:none;
    color:white;
    transition:0.1s
  }
  .footer3 ul li a{
    text-decoration:none;
    color:white;
    transition:0.1s
  }
  .footer2 ul li a:hover{
    color:silver;
  }
  .footer3 ul li a:hover{
    color:silver;
  }
  